In [2]:
# We can perform SQL query on Spark dataFrame but before that we need to created temporary table or register temporary
# table using data present in 
# Spark DataFrame. There are two types of table we can create. 
# 1. using method dataframe.createOrReplaceTempView("records") -> it will create table named as "records" .scope of
# this table will be same spark session i.e table is per spark session basis. As soon as session exit, table will
# disappear. Once table have been created we can perform different spark SQL Queries on it like
# sqlContext.sql('SELECT * FROM RECORDS') -> IT WILL also return data Frame.

In [3]:
#2. using method dataFrame.createGlobalTempView("global_records") -> This table will be accessible through all spark
# sessions. In order to access global Table we while querying we need to to call table with 'global_temp' i.e
# sqlContext('select * from global_temp.global_records') -> it will also return another dataframe.

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.types import Row
from datetime import datetime

In [15]:
spark = SparkSession.builder\
                    .appName("Spark SQL")\
                    .getOrCreate()

In [16]:
com_data5 = sc.parallelize([Row(col_list=[1,2,3,4],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"DS":4000000},
                               col_string = "Durga",
                               col_int = 10000,
                               col_float=15.0,
                               col_datetime=datetime(2014,8,1,14,15)),
                           Row(col_list=[5,6,7,8,9],
                               col_row=Row(a=2,b=3,c=4),
                               col_dict={"DS":900044},
                               col_strig = "Kesav",
                               col_int = 15000,
                               col_float=20.0,
                               col_datetime=datetime(2014,8,1,14,15)
                           ),
                           Row(col_list=[2,4,5,66,66,3],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"kesav":90},
                               col_string = "Dude",
                               col_int = 12000,
                               col_float=55.0,
                               col_datetime=datetime(2014,8,1,14,15)
                           )
                           ])

In [22]:
com_data_df = com_data5.toDF()

In [18]:
com_data_df.show(5)

+-------------------+---------------+---------+-------+--------------------+---------+----------+
|       col_datetime|       col_dict|col_float|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+---------+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]|     15.0|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]|     20.0|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]|     55.0|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+---------+-------+--------------------+---------+----------+

In [19]:
com_data_df.createOrReplaceTempView('records') # Created Local Table

In [20]:
sqlContext.sql('select * from records').show()

+-------------------+---------------+---------+-------+--------------------+---------+----------+
|       col_datetime|       col_dict|col_float|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+---------+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]|     15.0|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]|     20.0|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]|     55.0|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+---------+-------+--------------------+---------+----------+

In [24]:
com_data_df.createGlobalTempView('global_records_table')

In [26]:
sqlContext.sql('select * from global_temp.global_records_table').show()

+-------------------+---------------+---------+-------+--------------------+---------+----------+
|       col_datetime|       col_dict|col_float|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+---------+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]|     15.0|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]|     20.0|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]|     55.0|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+---------+-------+--------------------+---------+----------+