In [12]:
sc

In [15]:
from pyspark.sql.types import Row
from datetime import datetime

In [3]:
simple_data = sc.parallelize([1,"Alice",50])
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [4]:
simple_data.count() #Action returns total number of entities

3

In [6]:
simple_data.count()

3

In [7]:
simple_data.first() #Action returns first element of the RDD

1

In [9]:
simple_data.take(2) #Action returns first two element of RDD , first n elements of datasets i.e total no or rows

[1, 'Alice']

In [10]:
simple_data.collect() # Action it will show all the element of RDD

[1, 'Alice', 50]

In [13]:
simple_data.take(10)

[1, 'Alice', 50]

In [ ]:
df = simple_data.toDF() # RDD wont be converted to Data frame here , because DF should have appropriate Schema

In [2]:
records = sc.parallelize([[1,"Alice",50],[2,"Bob",80]]) # Parallelize method used to convert data into RDD

In [3]:
records

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [19]:
records.first()

[1, 'Alice', 50]

In [4]:
records.count();

In [24]:
records.first()

[1, 'Alice', 50]

In [10]:
records.count();

In [6]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [7]:
df = records.toDF() #it will default display top 20 rows

In [8]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [9]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [16]:
data = sc.parallelize([Row(
                          id=1,
                          name="Alice",
                          score=50
                          ),
                       Row(
                          id=2,
                          name="Bob",
                          score=80
                          ),
                       Row(
                          id=3,
                          name="Charlie",
                          score=75
                       )])

In [17]:
data

ParallelCollectionRDD[14] at parallelize at PythonRDD.scala:195

In [19]:
dfColName = data.toDF()

In [20]:
dfColName

DataFrame[id: bigint, name: string, score: bigint]

In [21]:
dfColName.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2|    Bob|   80|
|  3|Charlie|   75|
+---+-------+-----+

In [22]:
dfColName.take(3)

[Row(id=1, name='Alice', score=50),
 Row(id=2, name='Bob', score=80),
 Row(id=3, name='Charlie', score=75)]

In [23]:
dfColName.collect()

[Row(id=1, name='Alice', score=50),
 Row(id=2, name='Bob', score=80),
 Row(id=3, name='Charlie', score=75)]

In [24]:
dfColName.count()

3

In [25]:
complex_data = sc.parallelize([Row(id = 1,name="Kesav",col_float=10.98),Row(id = 2,name="Durga",col_float=11.98)])

In [26]:
complex_data_df = complex_data.toDF()

In [27]:
complex_data_df.show()

+---------+---+-----+
|col_float| id| name|
+---------+---+-----+
|    10.98|  1|Kesav|
|    11.98|  2|Durga|
+---------+---+-----+

In [28]:
com_data1 = sc.parallelize([Row(col_int =1,
                               col_float=23.67,
                               col_list=[1,34,2,4],
                               col_string="DS"
                               )])

In [29]:
com_data1_df=com_data1.toDF()

In [31]:
com_data1_df.show()

+---------+-------+-------------+----------+
|col_float|col_int|     col_list|col_string|
+---------+-------+-------------+----------+
|    23.67|      1|[1, 34, 2, 4]|        DS|
+---------+-------+-------------+----------+

In [37]:
com_data2 = sc.parallelize([Row(col_int=1,
                              col_float=12.9,
                              col_list=[1,2,3,4],
                              col_row= Row(a=1,b="DS",c=[1,2,3])
                               )])

In [38]:
com_data2_df = com_data2.toDF()

In [39]:
com_data2_df.show()

+---------+-------+------------+------------------+
|col_float|col_int|    col_list|           col_row|
+---------+-------+------------+------------------+
|     12.9|      1|[1, 2, 3, 4]|[1, DS, [1, 2, 3]]|
+---------+-------+------------+------------------+

In [45]:
com_data3 = sc.parallelize([Row(col_list=[1,2,3,4],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"DS":4000000},
                               col_datetime=datetime(2014,8,1,14,15)),
                           Row(col_list=[5,6,7,8,9],
                               col_row=Row(a=2,b=3,c=4),
                               col_dict={"DS":900044},
                               col_datetime=datetime(2014,8,1,14,15)
                           ),
                           Row(col_list=[2,4,5,66,66,3],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"kesav":90},
                               col_datetime=datetime(2014,8,1,14,15)
                           )
                           ])

In [46]:
com_data3_df = com_data3.toDF()

In [47]:
com_data3_df.show()

+-------------------+---------------+--------------------+---------+
|       col_datetime|       col_dict|            col_list|  col_row|
+-------------------+---------------+--------------------+---------+
|2014-08-01 14:15:00|[DS -> 4000000]|        [1, 2, 3, 4]|[1, 2, 3]|
|2014-08-01 14:15:00| [DS -> 900044]|     [5, 6, 7, 8, 9]|[2, 3, 4]|
|2014-08-01 14:15:00|  [kesav -> 90]|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|
+-------------------+---------------+--------------------+---------+

In [48]:
sqlContext = SQLContext(sc)
sqlContext

In [49]:
df2 = sqlContext.range(10)
df2

DataFrame[id: bigint]

In [50]:
df2.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [52]:
rdd1 = sc.parallelize([[1,"DS",80],[2,"Kesav",100]])

In [54]:
rdd1_df1 = sqlContext.createDataFrame(rdd1)

In [55]:
rdd1_df1.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|   DS| 80|
|  2|Kesav|100|
+---+-----+---+

In [59]:
rdd1_df2 = sqlContext.createDataFrame(rdd1,['id','name',"score"])

In [60]:
rdd1_df2.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|   DS|   80|
|  2|Kesav|  100|
+---+-----+-----+

In [61]:
rdd1_df3 = sqlContext.createDataFrame(com_data3)

In [62]:
rdd1_df3.show()

+-------------------+---------------+--------------------+---------+
|       col_datetime|       col_dict|            col_list|  col_row|
+-------------------+---------------+--------------------+---------+
|2014-08-01 14:15:00|[DS -> 4000000]|        [1, 2, 3, 4]|[1, 2, 3]|
|2014-08-01 14:15:00| [DS -> 900044]|     [5, 6, 7, 8, 9]|[2, 3, 4]|
|2014-08-01 14:15:00|  [kesav -> 90]|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|
+-------------------+---------------+--------------------+---------+

In [63]:
rdd2 = sc.parallelize([Row(2,"DS",95),
                       Row(3,"Kesav",75),
                       Row(4,"Dude",100)])

In [64]:
rdd2_row = Row('id','name','score')

In [71]:
students_rdd =rdd2.map(lambda r1 :rdd2_row(*r1))

In [72]:
students_rdd

PythonRDD[138] at RDD at PythonRDD.scala:53

In [73]:
students_rdd.collect()

[Row(id=2, name='DS', score=95),
 Row(id=3, name='Kesav', score=75),
 Row(id=4, name='Dude', score=100)]

In [74]:
students_rdd.toDF().show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  2|   DS|   95|
|  3|Kesav|   75|
|  4| Dude|  100|
+---+-----+-----+

In [75]:
df3 = sqlContext.createDataFrame(students_rdd)

In [76]:
df3.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  2|   DS|   95|
|  3|Kesav|   75|
|  4| Dude|  100|
+---+-----+-----+

In [80]:
com_data5 = sc.parallelize([Row(col_list=[1,2,3,4],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"DS":4000000},
                               col_string = "Durga",
                               col_int = 10000,
                               col_datetime=datetime(2014,8,1,14,15)),
                           Row(col_list=[5,6,7,8,9],
                               col_row=Row(a=2,b=3,c=4),
                               col_dict={"DS":900044},
                               col_strig = "Kesav",
                               col_int = 15000,
                               col_datetime=datetime(2014,8,1,14,15)
                           ),
                           Row(col_list=[2,4,5,66,66,3],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"kesav":90},
                               col_string = "Dude",
                               col_int = 12000,
                               col_datetime=datetime(2014,8,1,14,15)
                           )
                           ])

In [81]:
com_data5_df = com_data5.toDF()

In [82]:
com_data5_df.show()

+-------------------+---------------+-------+--------------------+---------+----------+
|       col_datetime|       col_dict|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+-------+--------------------+---------+----------+

In [83]:
com_data5.collect()

[Row(col_datetime=datetime.datetime(2014, 8, 1, 14, 15), col_dict={'DS': 4000000}, col_int=10000, col_list=[1, 2, 3, 4], col_row=Row(a=1, b=2, c=3), col_string='Durga'),
 Row(col_datetime=datetime.datetime(2014, 8, 1, 14, 15), col_dict={'DS': 900044}, col_int=15000, col_list=[5, 6, 7, 8, 9], col_row=Row(a=2, b=3, c=4), col_strig='Kesav'),
 Row(col_datetime=datetime.datetime(2014, 8, 1, 14, 15), col_dict={'kesav': 90}, col_int=12000, col_list=[2, 4, 5, 66, 66, 3], col_row=Row(a=1, b=2, c=3), col_string='Dude')]

In [85]:
com_data5.collect()[1][5]

'Kesav'

In [86]:
com_data5.collect()[2][2] # Access RDD element using multidimensional array

12000

In [90]:
com_data5_df.rdd.map(lambda x : (x.col_int,x.col_list)).collect() #Extract RDD from DataFrame

[(10000, [1, 2, 3, 4]),
 (15000, [5, 6, 7, 8, 9]),
 (12000, [2, 4, 5, 66, 66, 3])]

In [92]:
com_data5_df.rdd.map(lambda x : ("Hello "+x.col_string,x.col_list)).collect() #Extract RDD from DataFrame

[('Hello Durga', [1, 2, 3, 4]),
 ('Hello Kesav', [5, 6, 7, 8, 9]),
 ('Hello Dude', [2, 4, 5, 66, 66, 3])]

In [94]:
com_data5_df.select('col_string').show() # Extract DataFrame from DataFrame

+----------+
|col_string|
+----------+
|     Durga|
|     Kesav|
|      Dude|
+----------+

In [96]:
com_data5_df.select('col_datetime','col_dict').show()

+-------------------+---------------+
|       col_datetime|       col_dict|
+-------------------+---------------+
|2014-08-01 14:15:00|[DS -> 4000000]|
|2014-08-01 14:15:00| [DS -> 900044]|
|2014-08-01 14:15:00|  [kesav -> 90]|
+-------------------+---------------+

In [99]:
com_data5_df.select('col_string','col_int').withColumn('as_concat',com_data5_df.col_string+com_data5_df.col_int).show()

+----------+-------+---------+
|col_string|col_int|as_concat|
+----------+-------+---------+
|     Durga|  10000|     null|
|     Kesav|  15000|     null|
|      Dude|  12000|     null|
+----------+-------+---------+

In [100]:
com_data5 = sc.parallelize([Row(col_list=[1,2,3,4],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"DS":4000000},
                               col_string = "Durga",
                               col_int = 10000,
                               col_float=15.0,
                               col_datetime=datetime(2014,8,1,14,15)),
                           Row(col_list=[5,6,7,8,9],
                               col_row=Row(a=2,b=3,c=4),
                               col_dict={"DS":900044},
                               col_strig = "Kesav",
                               col_int = 15000,
                               col_float=20.0,
                               col_datetime=datetime(2014,8,1,14,15)
                           ),
                           Row(col_list=[2,4,5,66,66,3],
                               col_row=Row(a=1,b=2, c=3),
                               col_dict={"kesav":90},
                               col_string = "Dude",
                               col_int = 12000,
                               col_float=55.0,
                               col_datetime=datetime(2014,8,1,14,15)
                           )
                           ])

In [101]:
com_data5.collect()

[Row(col_datetime=datetime.datetime(2014, 8, 1, 14, 15), col_dict={'DS': 4000000}, col_float=15.0, col_int=10000, col_list=[1, 2, 3, 4], col_row=Row(a=1, b=2, c=3), col_string='Durga'),
 Row(col_datetime=datetime.datetime(2014, 8, 1, 14, 15), col_dict={'DS': 900044}, col_float=20.0, col_int=15000, col_list=[5, 6, 7, 8, 9], col_row=Row(a=2, b=3, c=4), col_strig='Kesav'),
 Row(col_datetime=datetime.datetime(2014, 8, 1, 14, 15), col_dict={'kesav': 90}, col_float=55.0, col_int=12000, col_list=[2, 4, 5, 66, 66, 3], col_row=Row(a=1, b=2, c=3), col_string='Dude')]

In [104]:
com_data5_df = sqlContext.createDataFrame(com_data5)

In [105]:
com_data5_df.show()

+-------------------+---------------+---------+-------+--------------------+---------+----------+
|       col_datetime|       col_dict|col_float|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+---------+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]|     15.0|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]|     20.0|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]|     55.0|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+---------+-------+--------------------+---------+----------+

In [108]:
com_data5_df.select('col_float','col_int')\
            .withColumn('col_sum',com_data5_df.col_float+com_data5_df.col_int)\
            .show()

+---------+-------+-------+
|col_float|col_int|col_sum|
+---------+-------+-------+
|     15.0|  10000|10015.0|
|     20.0|  15000|15020.0|
|     55.0|  12000|12055.0|
+---------+-------+-------+

In [110]:
com_data5_df.withColumnRenamed('col_dict','map').show()

+-------------------+---------------+---------+-------+--------------------+---------+----------+
|       col_datetime|            map|col_float|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+---------+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]|     15.0|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]|     20.0|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]|     55.0|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+---------+-------+--------------------+---------+----------+

In [111]:
com_data5_df.withColumnRenamed('col_dict','map').withColumnRenamed('col_float','float').show() #Rename column name

+-------------------+---------------+-----+-------+--------------------+---------+----------+
|       col_datetime|            map|float|col_int|            col_list|  col_row|col_string|
+-------------------+---------------+-----+-------+--------------------+---------+----------+
|2014-08-01 14:15:00|[DS -> 4000000]| 15.0|  10000|        [1, 2, 3, 4]|[1, 2, 3]|     Durga|
|2014-08-01 14:15:00| [DS -> 900044]| 20.0|  15000|     [5, 6, 7, 8, 9]|[2, 3, 4]|     Kesav|
|2014-08-01 14:15:00|  [kesav -> 90]| 55.0|  12000|[2, 4, 5, 66, 66, 3]|[1, 2, 3]|      Dude|
+-------------------+---------------+-----+-------+--------------------+---------+----------+

In [112]:
com_data5_df.select(com_data5_df.col_string.alias('Name')).show() # Give own alias

+-----+
| Name|
+-----+
|Durga|
|Kesav|
| Dude|
+-----+

In [115]:
# We can also create Pandas DataFrames using Spark Dataframe using command df_pandas = spark_DF.toPandas()
# We can also create Spark  DataFrames using Pandas DataFrame using command df_spark = sqlContext.createDataFrame(df_pandas)
# But spark data frame are build on top of RDD and will be distributed among multiple node on the cluster whereas
# Pandas Dataframes will be in memory on a single machine.

In [ ]:
impo